.btn {
  background-color: #2176AE;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}
.btn:hover {
  background-color: #1D5A7F;
  
}

.input:focus {
  border: 1px solid #2176AE;
}


@media screen and (min-width: 768px) {
 
}

@media screen and (min-width: 1024px) {

}